/*
    purple : #C300CE
    pink : #FF5280
    yellow : #FFA77B
*/

body {
    margin :0;
    padding:0;
    font-family : "Poppins", "Ubuntu", "Calibri", sans-serif;
}
.nav {
    background-color:#222;
    font-size:14px;
}
.logo a:hover {
    transform: scale(1.1);
    transition: .5s ease;
}

.link .nav-link {
    color:white;
    padding:10px 20px !important;
    border-bottom:2px solid transparent;
    font-weight: 600;
}
.link .nav-link:hover {
    border-bottom:2px solid #C300CE;
}
.cartIcon {
    font-size: 20px;
    cursor:pointer;
}
.modal-body {
    font-size:14px;
}

p .categories {
    color:#FF5280 !important;
    text-decoration: none;
    font-weight: 600;
}

.rmv {
    text-decoration: none;
    font-size: 16px;
    padding:5px 20px;
    border-radius: 3px;
    background-color:rgb(206, 27, 27); 
    color:white;
}
.rmv:hover {
    background-color: rgb(177, 20, 20);
    color:white;
}

.products {
    margin-left:20px;
}
.products a {
    font-size:14px;
}
.products span{
    font-weight:bold;
}

.contact-clean {
    background:#ffffff;
    padding-top:80px;
    padding-bottom: 30px;
  }
  
  @media (max-width:767px) {
    .contact-clean {
      padding:20px 0;
    }
  }
  
  .contact-clean form {
    max-width:480px;
    width:90%;
    margin:0 auto;
    background-color:#ffffff;
    padding:40px;
    border-radius:4px;
    color:#63506c;
    box-shadow:1px 1px 10px rgba(0,0,0,0.1);
  }
  
  @media (max-width:767px) {
    .contact-clean form {
      padding:30px;
    }
  }
  
  .contact-clean h2 {
    margin-top:5px;
    font-weight:bold;
    font-size:28px;
    margin-bottom:36px;
    color:inherit;
  }
  
  .contact-clean .form-group:last-child {
    margin-bottom:5px;
  }
  
  .contact-clean form .form-control {
    background:#fff;
    border-radius:2px;
    box-shadow:1px 1px 1px rgba(0,0,0,0.05);
    outline:none;
    color:inherit;
    padding-left:12px;
    height:42px;
  }
  
  .contact-clean form .form-control:focus {
    border:1px solid #FFA77B;
  }
  .contact-clean .indic {
    color: #C300CE;
  }
  .contact-clean form textarea.form-control {
    min-height:100px;
    max-height:260px;
    padding-top:10px;
    resize:vertical;
  }
  
  .contact-clean form .btn {
    padding:16px 32px;
    border:none;
    background:none;
    box-shadow:none;
    text-shadow:none;
    opacity:0.9;
    text-transform:uppercase;
    font-weight:bold;
    font-size:13px;
    letter-spacing:0.4px;
    line-height:1;
    outline:none !important;
  }
  
  .contact-clean form .btn:hover {
    opacity:1;
  }
  
  .contact-clean form .btn:active {
    transform:translateY(1px);
  }
  
  .contact-clean form .btn-primary {
    background-color:#C300CE !important;
    margin-top:15px;
    color:#fff;
  }  


footer {
    margin-top:60px;
    margin-bottom: 0;
    padding:10px 0px;
    font-size:14px;
    background-color:#222;
    color:white;
}
footer .copyright {
    padding-top:20px;
    font-weight:600;
}
footer .copyright span {
    font-weight:400;
}
footer .social {
    padding-top:20px;
}
footer .social a {
    text-decoration: none;
    margin: 5px 10px;
    font-size: 20px;
    border-radius:50%;
    transition: all 0.25s ease;
}

footer .social .tw {
    color:#1da1f2;
    border:2px solid #1da1f2;
    padding:5px 8.5px;
}
footer .social .gh {
    font-size: 22px;
    color:#fff;
    border:2px solid #fff;
    padding:4px 8px;
}

footer .social .tw:hover {
    color:#fff;
    background-color: #1da1f2;
}
footer .social .gh:hover {
    color:#222;
    background-color: #fff;
}